<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse"
>
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/secure/dashboard"
          routerLinkActive="active"
        >
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/secure/registros"
          class="nav-link"
          routerLinkActive="active"
          >Registrar</a
        >
      </li>

      <li class="nav-item">
        <a
          routerLink="/secure/conductores"
          class="nav-link"
          routerLinkActive="active"
          >Conductores</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/secure/propietarios"
          class="nav-link"
          routerLinkActive="active"
          >Propietarios</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/secure/reporte"
          class="nav-link"
          routerLinkActive="active"
          >Reporte</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/secure/vehiculos"
          class="nav-link"
          routerLinkActive="active"
          >Vehiculos</a
        >
      </li>
    </ul>
  </div>
</nav>
